* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(120deg, rgb(31, 98, 161), rgb(138, 50, 141));
    color: white;
    font-family: "Poppins", sans-serif;
}

header {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main {

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.game,
.scoreCard,
.about {
    
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    
}

.grid{
    margin-top: 10px;    
}

.board {
    width: 100px;
    height: 100px;
    

}

.grid .row {
    display: flex;
    align-items: center;
    justify-content: center;




}

.start {
    background-color: green;
    border-radius: 5px;
}
#row1 {

    
    border-bottom: 2px solid rgb(255,255,255,0.3);

}

#row3 {
    border-top: 2px solid rgb(255,255,255,0.3);
}

#row1col2,
#row2col2,
#row3col2 {
    border-left: 2px solid rgb(255,255,255,0.3);
    border-right: 2px solid rgb(255,255,255,0.3);
}



#aboutHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#closeAbout {
    padding: 5px;
    background-color: red;
    border-radius: 50px;

}